<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    {% assign current = page.url | downcase | split: '/' %}
    <nav class="nav">
        <div class="nav-container">
            <ul>
                <li class="transition">
                    <a href="{{ '' | prepend: site.baseurl }}/"
                        {% if current[1] == "opencv" or current[1] == "object-detection" or current[1] == "devrepo"  or current[1] == "report" %}
                        class="normal" {% endif %} class="active">About</a>
                </li>
                <li class="transition">
                    <a href="{{ '/opencv' | prepend: site.baseurl }}" {% if current[1] == "opencv" %}
                        class="active" {% endif %}>OpenCV</a>
                </li>
                <li class="transition">
                    <a href="{{ '/object-detection' | prepend: site.baseurl }}" {% if current[1] == "object-detection" %}
                        class="active" {% endif %}>Object Detection</a>
                </li>
                <li class="transition">
                    <a href="{{ '/DEV_story' | prepend: site.baseurl }}" {% if current[1] == "devrepo" %}
                        class="active" {% endif %}>Dev.repo</a>
                </li>
                <li class="transition">
                    <a href="{{ '/REPORT' | prepend: site.baseurl }}" {% if current[1] == "report" %} 
                        class="active" {% endif %}>Report</a>
                </li>
            </ul>
        </div>
    </nav>

    {% if page.post-header == true %}
    {% include post-header.html %}
    {% endif %}
    {% if page.project-header == true %}
    {% include project-header.html %}
    {% endif %}

    <main>
        {{ content | replace: '
        <li>[ ]', '</li>
        <li class="box">' | replace: '</li>
        <li>[x]', '</li>
        <li class="box_done">' }}

    </main>

    {% include footer.html %}

</body>

</html>